@model KantinMvc.Models.OnViewModel.OnViewSube
<div>
    <h2 class="display-4" style="color:lightseagreen">Şube İşlemleri</h2>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#SubeEkle">
    Yeni Şube Ekle
</button>

<!-- Modal -->
<div class="modal fade" id="SubeEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:lightseagreen">Şube Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form class="was-validated">
                        @Html.LabelFor(s => s.sube.ADI)
                        @Html.TextBoxFor(s => s.sube.ADI, new { @class = "form-control is-invalid", required = "required" })
                        @Html.ValidationMessageFor(s => s.sube.ADI)
                        <label id="lblAdHata" style="display:none;color:red">Ad alanı boş olamaz</label>

</form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <input type="submit" name="btnKaydet" value="Kaydet" class="btn btn-primary" onclick="subeEkle()" />
                </div>
            </div>
        </div>
    </div>

</div>
<div id="dvSubeList">
    @Html.Partial("pvSubeList")
</div>
@section scripts{
    <script>
        function BoslukKontrol() {
            var hatayok = true;
            if ($("#sube_ADI").val() == "") {
                $("#lblAdHata").show();
                hatayok = false;
            }
            return hatayok;
        }
        function subeEkle() {
            //if (BoslukKontrol) {
            $.ajax({
                url: "/Sube/SubeEkle",
                method: "Post",
                data: {
                    ADI: $("#sube_ADI").val()
                },
                success: function (data) {
                    if (data == 'True') {
                        alert("Şube Ekleme İşlemi Başarılı")
                        $("#lblAdHata").hide();
                        $.ajax({
                            url: "/Sube/SubeTanimKarti",
                            method: "Get",
                            success: function (data) {
                                $("#dvSubeList").html(data);
                            }
                        });
                    }
                    else {
                        alert("Şube Ekleme İşlemi Başarısız")
                        $("#lblAdHata").show();
                    }
                }

            });
            //}


        }

    </script>
}
