@model KantinMvc.Models.OnViewModel.OnViewUrunGrubu

@{
    ViewBag.Title = "UrunGrupTanimKarti";
}
<br />
<b></b>
<div>
    <h2 class="display-4" style="color:lightseagreen">Ürün Grup İşlemleri</h2>
</div>
<br />


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UrunGrupEkle">
    Yeni Ürün Grubu Ekle
</button>
<br />
<br />

<!-- Modal -->
<div class="modal fade" id="UrunGrupEkle" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color:lightseagreen">Sınıf Ekle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form class="was-validated">
                        @Html.LabelFor(s => s.urunGrubu.URUNGRUB)
                        @Html.TextBoxFor(s => s.urunGrubu.URUNGRUB, new { @class = "form-control is-invalid", required = "required" })
                        @Html.ValidationMessageFor(s => s.urunGrubu.URUNGRUB)
                        <label id="lblAdHata" style="display:none;color:red">Ad alanı boş olamaz</label>

</form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                    <input type="submit" name="btnKaydet" value="Kaydet" class="btn btn-primary" onclick="urunGrupEkle()" />
                </div>
            </div>
        </div>
    </div>

</div>
<div id="dvUrunGrupList">
    @Html.Partial("pvUrunGrupList")
</div>
@section scripts{
    <script>
function BoslukKontrol() {
            var hatayok = true;
           if ($("#urunGrubu_URUNGRUB").val() == "") {
                $("#lblAdHata").show();
                hatayok = false;
            }
            return hatayok;
        }
        function urunGrupEkle() {
            //if (BoslukKontrol) {
            $.ajax({
                url: "/Urun/UrunGrupEkle",
                method: "Post",
                data: {
                    URUNGRUB: $("#urunGrubu_URUNGRUB").val()
                  
                },
                success: function (data) {
                    if (data == 'True') {
                        alert("Ürün Grup Ekleme İşlemi Başarılı")
                        $("#lblAdHata").hide();
                        $.ajax({
                            url: "/Urun/UrunGrupTanimKarti",
                            method: "Get",
                            success: function (data) {
                                $("#dvUrunGrupList").html(data);
                            }
                        });
                    }
                    else {
                        alert("Ürün Grup Ekleme İşlemi Başarısız")
                        $("#lblAdHata").show();
                    }
                }

            });
            //}


        }</script>
}
